{% extends 'layout.twig' %}

{% block title post.name %}

{% block body %}
    <h1>{{ post.name }}</h1>

    {% if post.categoryId %}
        <a href="{{ path('blog.category', { slug: post.categorySlug }) }}" title="{{ post.categoryName }}">{{ post.categoryName }}</a>
    {% endif %}
    <p class="text-muted">{{ post.createdAt|ago }}</p>
        {% if post.image %}
            <p><img src="{{ post.imageUrl }}" alt="{{ post.name }}" style="width: 100%"></p>
        {% endif %}

    <p>{{ post.content|nl2br }}</p>
{% endblock %}